<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>m4p_userlocation</name>
    <displayName><![CDATA[Country selector]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <description><![CDATA[Lets visitors pick their country, so prices are shown with that country's tax before they have an address.]]></description>
    <author><![CDATA[Modules4Presta]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <confirmUninstall><![CDATA[Remove the module and its settings? Customer addresses are not touched.]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
